<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | Social Gallery</title>
    <link rel="stylesheet" href="../css/estyle.css">
    <script src="../js/code.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Menu de navegación -->
    <ul>
        <li><a href="#">@username</a></li>
        <li><a href="#" onclick="openModal()">+</a></li>
        <li><a href="#">Logout</a></li>
    </ul>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Crear post</h2>
            </div>
            <div class="modal-body">
                <form action="../controller/postController.php" method="POST" enctype="multipart/form-data">
                    <input type="text" id="title" name="title" placeholder="Título de la foto...">

                    <input type="file" id="img" name="img">

                    <input type="submit" value="Añadir">
                </form>
            </div>
        </div>
    </div>

    </div>
    <div class="row">
        <div class="three-column">
            <img src="../public/facebook.png" alt="">
        </div>
    </div>
</body>

</html>